body {
    padding-top: 50px;
    margin: 0;
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
}

:root {
    --colour-white: #ebe8e2;
    --colour-black: #221d0e;
    --colour-red: #812c1d;
    --colour-sand: #BB9B81;
    --colour-petrol: #254441;
    --Colour-sky: #a8c2d0;
}

a {
    text-decoration: none;
}

p {
    font-size: calc(16px + 0.39065);

}

h2 {
    font-size: calc(28px + 0.39065vw);
}

h3 {
    font-size: calc(24px + 0.39065vw);
}

.box {
    padding: 20px;
    margin: 10px;
    background-color: var(--colour-sand);
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    width: 120px;
}

/* alle andre end Tove */
.box:not(:first-child) {
    background-color: var(--Colour-sky);
    cursor: default;
}

/* Overlay stil */
.overlay {
    display: none;
    /* Starter med at skjule alle overlays */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 90%;
    height: 70%;
    border: 3px solid var(--colour-black);
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    text-align: center;
    color: var(--colour-black);
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--colour-red);
    color: var(--colour-white);
}

button:hover {
    background-color: var(--colour-sand);
}

/* ********** Dronning Tove info overlay - overlay 1 ********** */
.info-plads {
    width: 100%;
    height: auto;
}

.info-plads img {
    border-radius: 100%;
    /* bliver den ikke rund ved 100% ? */
}

.info-indhold {
    background-color: #c8db34;
}